.container {
  width: 600px;
  height: 600px;
  position: relative;
}

.container > svg {
  width: 100%;
  height: 100%;
}

.container > div {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: white;
  transition: 100ms;
}

.container > div:hover {
  background-color: rgb(226, 19, 19);
  transform: scale(1.20);
}

#Lille {
  top: 25px;
  left: 322px;
}

#Rouen {
  top: 100px;
  left: 220px;
}
#Paris {
  top: 150px;
  left: 300px;
}
#Metz {
  top: 120px;
  left: 445px;
}
#Nancy {
  top: 155px;
  left: 420px;
}
#Strasbourg {
  top: 155px;
  left: 510px;
}
#Brest {
  top: 162px;
  left: 10px;
}
#Rennes {
  top: 190px;
  left: 130px;
}
#Orleans {
  top: 200px;
  left: 260px;
}
#Nantes {
  top: 240px;
  left: 130px;
}
#Tours {
  top: 240px;
  left: 200px;
}
#Dijon {
  top: 240px;
  left: 410px;
}
#Clermont-Ferrand {
  top: 330px;
  left: 310px;
}
#Lyon {
  top: 350px;
  left: 400px;
}
#Bordeaux {
  top: 370px;
  left: 170px;
}
#Saint-Etienne {
  top: 360px;
  left: 380px;
}
#Grenoble {
  top: 375px;
  left: 440px;
}
#Toulouse {
  top: 460px;
  left: 230px;
}
#Montpellier {
  top: 450px;
  left: 360px;
}
#Marseille {
  top: 465px;
  left: 425px;
}
#Toulon {
  top: 475px;
  left: 450px;
}
#Nice {
  top: 440px;
  left: 490px;
}

.request{
  display: flex;
  width: 600px;
  justify-content: space-between;
  color: white;
}